include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Formación de líderes en innovación transformativa, gobernanza, sistemas de ciencia, tecnología e innovación (SC&CTI) y objetivos de desarrollo sostenible (ODS)
        meta(meta name="description" content="Ruta de aprendizaje programa Formación de líderes en innovación transformativa, gobernanza, sistemas de ciencia, tecnología e innovación (SC&CTI) y objetivos de desarrollo sostenible (ODS).")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Formación de líderes en innovación transformativa, gobernanza, sistemas de ciencia, tecnología e innovación (SC&CTI) y objetivos de desarrollo sostenible (ODS)
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Formación de líderes en innovación transformativa, gobernanza, sistemas de ciencia, tecnología e innovación (SC&CTI) y objetivos de desarrollo sostenible (ODS)
                                        li 
                                            span #[strong Código:] 00140000
                                        li 
                                            span #[strong Total Horas:] 96
                                        li 
                                            span #[strong Duración en semanas:] 8 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] Actores del SCT&I: gobierno, academia, empresas, sociedad civil y medio ambiente.

                    

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/17pbYA0d5-8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 El programa Formación de líderes en innovación transformativa, gobernanza, sistemas de ciencia, tecnología e innovación (SCTeI) y objetivos de desarrollo sostenible (ODS),  permitirá que las personas participantes construyan y desarrollen una visión de futuro con lo que se contribuirá al mejoramiento de la toma de decisiones estratégicas en las organizaciones del sistema de ciencia, tecnología e innovación, así como a potenciar sus niveles de conocimiento y de direccionamiento estratégico como actor de un SRCTI (Sistema regional de ciencia, tecnología e innovación)

        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 El documento técnico que justifica el curso es “FORTALECIMIENTO DEL SISTEMA DE C&CTI DEL VALLE DEL CAUCA: HACIA UNA ECONOMÍA DEL CONOCIMIENTO” Red de Universidades para la Innovación del Valle del Cauca, Rupiv. Propuesta presentada al Fondo de Ciencia, Tecnología e Innovación del SGR.

                p En el país, existen los sistemas de ciencia y tecnología, con una débil articulación, por lo cual es importante identificar las organizaciones y sus articulaciones con el sistema como lo ha hecho Caicedo en el Valle del Cauca (2013).

                p En el caso del departamento, se presenta una débil articulación institucional, muy baja capacidad de relacionamiento, poca tendencia a la cooperación, lo cual significa que el sistema tiende más a la desconexión que a la conectividad entre los agentes. 

                p Al hacer un análisis de las redes del Sistema Regional de Ciencia Tecnología e Innovación en Colombia, se puede inferir que el principal desafío del país es lograr articular el sistema de competitividad, ciencia, tecnología e innovación - C&CTI. 

                p Adicionalmente, en el diagnóstico realizado en los actores del SRCTI, también se reconoce la necesidad de que las personas de comunidades, universidades, grupos dedicados a la Investigación, Desarrollo Tecnológico e Innovación - I+D+i, empleados, funcionarios y directivos de empresas e instituciones conozcan las características de los sistemas de ciencia, tecnología e innovación - SCTI de referencia, establezcan la correlación de los actores de dicho sistema en los diferentes contextos regionales, mejoren su visión de futuro y potencien su capacidad para la toma de decisiones estratégicas en las organizaciones que lo conforman y realicen diagnósticos de la capacidad de innovación empresarial.

                p Teniendo en cuenta que en el entorno de infraestructura, el SENA, a través de su Sistema de Investigación, Desarrollo Tecnológico e Investigación - SENNOVA, es una entidad fundamental en el relacionamiento con las empresas industriales, manufactureras y de servicios de todos los sectores económicos del país y con los demás actores del Sistema Nacional de Ciencia Tecnología e Innovación - SNCTI, le corresponde a la institución continuar facilitando la transferencia de conocimientos y formación del capital humano para promover, potenciar y fortalecer los programas y capacidades en investigación, desarrollo tecnológico productivo e innovación de manera armonizada con el SNCTI. 

                p De acuerdo con lo anterior, el curso permitirá que las personas participantes construyan y desarrollen una visión de futuro con lo que se contribuirá al mejoramiento de la toma de decisiones estratégicas en las organizaciones del sistema de ciencia, tecnología e innovación, así como a potenciar sus niveles de conocimiento y de direccionamiento estratégico como actor de un SRCTI.



        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p El programa de Formación de líderes en innovación transformativa, gobernanza, sistemas de ciencia, tecnología e innovación (SCT&I) y objetivos de desarrollo sostenible (ODS), está dirigido a servidores públicos, que laboren en dependencias afines a los ODS: desarrollo económico, salud, educación, tránsito y transporte, servicios públicos, etc. También está dirigido a asesores y consultores afines a las dependencias gubernamentales. Así mismo, el público objetivo son empresarios interesados en los temas de responsabilidad social y recursos humanos. Y finalmente, también interesa el público de la sociedad civil organizada en temas afines al desarrollo sostenible. 


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad del proyecto educativo en el marco de la formación por competencias, el aprendizaje por proyectos es una estrategia que estimula el pensamiento para la resolución de problemas simulados y reales; soportadas en el utilización de las tecnologías de la información y la comunicación, integradas, en ambientes abiertos y pluritecnológicos, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias.

                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el quehacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





